body{
    
    background-color: #1b2742;
    margin: 0px 300px 0px 300px;
}
.cabesa{
    padding-left:50px ;
    padding-bottom:0px ;
    padding-top:0px ;
    padding-right:50px ;
}

.cuerpo{
    color: white;
    font-family: 'Anybody', cursive;
    text-align: justify;

}
.parrafo{
    
    color: white;
    font-family: cursive , Courier, monospace;
}
h2{
    color: white;
    background-color:#121f3d;
    text-align: justify;
}

h1{
    font-family: 'Rubik Moonrocks', cursive;
    text-align: center;
    background-color: cadetblue;
    margin: 0 0 0 0;
}

.footer {

    background-color: #e2e2e2;
    font-family:"cursive", monospace;
  }
  canvas{
      background-color: white;
      width: 300px;
      
  }
